@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    
    margin: 7vw;
    display: flex;
    align-items: center;
    font-family: "Nunito", sans-serif;
    @media(max-width: 600px){
        justify-content: center;
        text-align:center;
        margin: 50px;        
    }
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 8px #24242426;
    height: 12vh;
    @media (max-width: 600px) {
        flex-direction: column; //muda o eixo x para o y
        justify-content: center;
    }

    ul{
        display: flex;
        justify-content: space-between;
        width: 25vw;
        list-style: none;

        @media (max-width: 600px){
            width: 36vw; // aumento a largura pra ficar
        }
    }
}
div{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 7vw;
    padding-left: 20px;
    width: 40vw;
    height: 40vh;
    gap: 30px;

    @media(max-width:600px)
    { width: 100%;
        gap: 35px;
    }
    
    button{
        width: 180px;
        border-radius: 3px;
        height: 40px;
        border: none;
        color: white;
        background-color: orange;
        @media(max-width: 600px){
           padding: 10px;
           width: 100%;
        }
        
    }
    img{
        display: flex;
        width: 5vw;
        @media(max-width: 600px){
            width: 80px;
            margin: 150px 100px 100px ;
            // position: relative;
            // top: 100px;
            // left: 30%;
            
        }
    }
}
.copo{
    width: 10vw;
    margin: 7px;
    margin-left: 80px;
    height: 50%;
    @media (max-width:600px){
        display: none;
    }
}

